.main-container {
  display: grid;
  grid-template-columns: 40% 60%;
}


/* Todo list and error message */
.hidden {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

li {
  clear: both;
  margin-top: 4%;
}

li button {
  -webkit-appearance: none;
  border: none;
  outline: none;
  color: red;
  float: right;
  cursor: pointer;
  font-size: 20px;
  background-color: transparent;
}

.lists-wrapper, .todos-wrapper {
  display: inline-block;
  vertical-align: top;
}

/* ============================ */

/* Lists */
a {
  text-decoration: none;
  color:#00a1ff;
}

