<html>
  <head>
    <title>Todo App</title>
    <link rel='stylesheet' href='/static/css/main.css' />
  </head>
  <body>
    <div id='error' class='hidden'>Something wrong!</div>
    <ul id="todos">
      {% for prop in data %}
        <li>
          <input class="check-completed" data-id="{{ prop.id }}" type="checkbox" {% if prop.completed %} checked {% endif %} />
          {{ prop.description }}
        </li>
      {% endfor %}
    </ul>
    <form id="form">
      <input type="text" id='description' name='description'required='required' />
      <input type="submit" name='Create' />
    </form>
    <script type="text/javascript" src="/static/js/main.js"></script>
  </body>
</html>